.header {
  position: relative;
  padding: 0px 20px 0px 20px;
}

.header__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*== MAIN ==*/
.header__main {
  margin-bottom: 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

@media (max-width: 767.98px) {
  .header__main {
    gap: 40px;
    margin-bottom: 52px;
  }
}

.header__title {
  font-weight: 700;
  font-size: 96px;
  max-width: 768px;
  line-height: 109%;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
}

@media (max-width: 767.98px) {
  .header__title {
    font-size: 34px;
    line-height: 112%;
    max-width: 360px;
  }
}

.header__subtitle {
  max-width: 562px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__subtitle {
    max-width: 442px;
  }
}

@media (max-width: 767.98px) {
  .header__subtitle {
    font-size: 16px;
    line-height: 142%;
    max-width: 310px;
  }
}

.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}