.tour__button {
  display: flex;
  gap: 30px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .tour__button {
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  
  .tour__button {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.tour__button_green {
  background: var(--green-color);
  color: var(--light-color);
}

.tour__button_green:hover {
  background: var(--lettuce-color);
}

.tour__button_green:active {
  background: var(--lettuces-color);
}

.tour__button_lettuce {
  background: var(--lights-color);
  color: var(--green-color);
}

.tour__button_lettuce:hover {
  background: var(--blond-color);
}

.tour__button_lettuce:active {
  background: var(--blonds-color);
}