.gallery {
  margin-top: 135px;
  max-width: 1860px;
  width: 100%;
}

@media (max-width: 767.98px) {

  .gallery {
    margin-top: 75px;
  }
}

.gallery__hat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 30px;
  margin-bottom: 100px;
}

@media (max-width: 767.98px) {

  .gallery__hat {
    gap: 20px;
    margin-bottom: 50px;
  }
}

.gallery__block {
  padding: 0px 15px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .gallery__block {
    padding: 0px 21px;
  }
}

@media (max-width: 1169.98px) {

  .gallery__block_hidefirst {
    display: none;
  }
}

@media (max-width: 767.98px) {

  .gallery__block_hidesecond {
    display: none;
  }
}

.gallery__picture {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 30px;
  margin: 30px 0px 30px 0px;
}

@media (max-width: 1024px) {

  .gallery__picture {
    gap: 20px;
  }
}

@media (max-width: 850.98px) {

  .gallery__picture {
    margin: 18px 0px 18px 0px;
  }
}

@media (max-width: 520.98px) {

  .gallery__picture {
    gap: 10px;
    margin: 18px 0px 18px 0px;
  }
}

.gallery__img {
  max-width: 442.5px;
  width: 100%;
  border: 0px solid var(--dark-color);
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .gallery__img {
    max-width: 314.67px;
  }
}

@media (max-width: 850.98px) {

  .gallery__img {
    max-width: 350px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 520.98px) {

  .gallery__img {
    border-radius: 20px;
  }
}

@media (max-width: 360px) {

  .gallery__img {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
}

.gallery__pictures {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1024px) {

  .gallery__pictures {
    gap: 20px;
  }
}

@media (max-width: 520.98px) {

  .gallery__pictures {
    gap: 10px;
  }
}

.gallery__image {
  max-width: 347.32px;
  width: 100%;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .gallery__image {
    max-width: 231px;
  }
}

@media (max-width: 850.98px) {
  
  .gallery__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 520.98px) {
  .gallery__image {
    height: 110px;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .gallery__image {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }
}

